<h1>Current tokens</h1>
<% if flash[:error] %>
    <div class='info_message'>
        <%= flash[:error] %>
    </div>
<% end %>

<% @users.each do |user| %>
    <p>
    <%= user.name %> <a href="/<%=user.id%>/delete">(delete this user)</a>
    </p>

    <p>
        <img src="<%= user.picture_url %>">
    </p>

    <p>
        <%= user.token.content %>
    </p>
<% end %>
<a href="/link_linked_in">Link your linked in account</a>
